{% load staticfiles %}

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="{% static 'js/updateUser.js' %}"></script>
</head>

<body>
	<a href="{% url 'bank_users:home' %}">Home</a>

	{% if not_deleted %}
		Wrong combination of first name and last name.
	{% endif %}

		<form action="{% url 'bank_users:deleteUser' %}" method="post">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Submit" />
	    </form>

</body>