{% extends 'base.html' %}

{% load staticfiles %}

{% block script %}<script src="{% static 'js/updateUser.js' %}"></script>{% endblock %}

{% block main %}
	<a href="{% url 'bank_users:home' %}">Home</a><br><br>
	
	{% if not_updated %}
		Wrong combination of first name and last name<br><br>
	{% endif %}

	{% if userdetails %}
		<script>
			var first_name = "{{ userdetails.first_name}}";
			var last_name = "{{ userdetails.last_name }}";
			var countrycode = "{{ iban.countrycode }}";
			var swiftcode = "{{ iban.swiftcode }}";
			var accountnumber = "{{ iban.accountnumber }}";
			var checksum = "{{ iban.checksum }}";
		</script>
		<div id="block">
			<form action="{% url 'bank_users:updateUser' %}" method="post">
				{% csrf_token %}
				{{ form }}
				<input type="hidden" name="old_first_name" value="{{ userdetails.first_name }}">
				<input type="hidden" name="old_last_name" value="{{ userdetails.last_name }}">
				<input type="submit" id="submit" value="Submit" />
			</form>
		</div>
	{% else %}

		<form action="{% url 'bank_users:updateUser' %}" method="get">
		    {% csrf_token %}
		    {{ form }}
		    <input type="submit" value="Submit" />
	    </form>

    {% endif %}

{% endblock %}